<appSettings>
  <add key="ServiceBusConnection" value="Endpoint=sb://rvpcihservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=xdbiTlKzl1JCBuVlAxwRV/welLqsWW7ArcRykr8C6XU=" />
  <add key="ImportHubServiceBusConnection" value="Endpoint=sb://rvpcihservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=xdbiTlKzl1JCBuVlAxwRV/welLqsWW7ArcRykr8C6XU=" />
  <add key="endpoint" value="https://rvijayakumar.documents.azure.com:443/" />
  <add key="authkey" value="rNUGqv9BKlqk0eoIRZQpzldMZPH+d8CgRIU+cWWSaSTogNwH+hUP9AMDOvY++EK5Yq98GY9rYuLX5/bldHIuFw==" />
  <add key="TableStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=rvpcihstorage;AccountKey=fLVkkX0DmcL3hRdtRxJiomt/SKVuYjF7P+YlaLmA67R2f9nw192yPkua9rdx+7Td4Zs43L5TZ/5X7rrA3OenGA=="/>
  <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=rvpcihstorage;AccountKey=fLVkkX0DmcL3hRdtRxJiomt/SKVuYjF7P+YlaLmA67R2f9nw192yPkua9rdx+7Td4Zs43L5TZ/5X7rrA3OenGA=="/>
  <add key="BlobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=rvpcihstorage;AccountKey=fLVkkX0DmcL3hRdtRxJiomt/SKVuYjF7P+YlaLmA67R2f9nw192yPkua9rdx+7Td4Zs43L5TZ/5X7rrA3OenGA=="/>
  <add key="PaycorServiceBusConnection" value="Endpoint=sb://rvpcihservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=xdbiTlKzl1JCBuVlAxwRV/welLqsWW7ArcRykr8C6XU=" />
  <add key="Paycor.Storage.Blob.KeyVaultUrl" value="https://RVTestKeyVault.vault.azure.net" />
  <add key="Paycor.Storage.Blob.KeyVaultUserId" value="7e02073d-8682-4f7d-9c06-4e6ef08cd33b" />
  <add key="Paycor.Storage.Blob.KeyVaultUserPassword" value="o9joue054Lc8bbh7pxFeQikB/JS0411nRFrzHT0YTI4=" />
  <add key="Paycor.Storage.Blob.SecretName" value="ThisIsAT35t" />
  <add key="ExpirationDate" value="3/3/2018" />
</appSettings>

