<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net>
    <root>
      <level value="#{Stackify.LogLevel}" xdt:Transform="Replace" />
    </root>
  </log4net>
  <appSettings xdt:Transform="RemoveAttributes(file)">
    <add key="TableStorageConnection" value="#{tableStorage}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BlobStorageConnection" value="#{tableStorage}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="StorageConnection" value="#{tableStorage}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ServiceBusConnection" value="#{PaycorServiceBus}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Paycor.Storage.Blob.KeyVaultUrl" value="#{ImportHubKeyVault_Url}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Paycor.Storage.Blob.KeyVaultUserId" value="#{ImportHubKeyVault_ClientID}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Paycor.Storage.Blob.KeyVaultUserPassword" value="#{ImportHubKeyVault_ClientIDKey}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Paycor.Storage.Blob.SecretName" value="#{ImportHubKeyVault_Secret}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ExpirationDate" value="#{ImportHubKeyVault_CredExpiresDate}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ImportHubServiceBusConnection" value="#{serviceBus}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="aspnet:UseLegacyEncryption" value="#{UseLegacyEncryption}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="aspnet:UseLegacyMachineKeyEncryption" value="#{UseLegacyFormsAuthenticationTicketCompatibility}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="aspnet:UseLegacyFormsAuthenticationTicketCompatibility" value="#{UseLegacyMachineKeyEncryption}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DocumentsAddress" value="#{secureURL | ToLower}/Documents/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="BaseURL" value="#{secureURL}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="endpoint" value="#{docdb_ImportHubEndpoint}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="authkey" value="#{docdb_ImportHubKey}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="database" value="#{docdb_ImportHubDb}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="importhistorydatabase" value="#{docdb_ImportHubDb}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SwaggerDocVersions" value="#{secureURL}/ImportHubService/swagger/docs/v1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Stackify.ApiKey" value="#{StackifyApiKey}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Stackify.Environment" value="#{StackifyEnvironment}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Stackify.AppName" value="#{Stackify.AppName}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SecureHttpRoot" value="#{secureURL}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="Security" connectionString="Data Source=#{prtsql02_L1_Instance};Initial Catalog=SecurityManagement;Application Name=ImportHubService;Integrated Security=false;#{ImportHub_Credentials};#{MultiSubnetFailover};" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <machineKey compatibilityMode="#{machineKeyCompatibilityMode}" decryption="#{machineKeyDecryption}" decryptionKey="#{machineKeyDecryptionKey}" validation="#{machineKeyValidation}" validationKey="#{machineKeyValidationKey}" xdt:Transform="Replace" />
    <authentication mode="Windows" xdt:Transform="Replace" xdt:Locator="XPath(//system.web/authentication)">
      <forms enableCrossAppRedirects="true" loginUrl="~/authentication/login" requireSSL="false" slidingExpiration="true" timeout="60" protection="Validation" name="paycorAuth" domain="#{cookieDomain}">
      </forms>
    </authentication>
  </system.web>
</configuration>