<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="RemoveAttributes(file)">
    <add key="BaseUrl" value="https://secure-staging.paycor.com/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PublicKey" value="140e6827800647aea13d020dd9e50a" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PrivateKey" value="56ac02bf94ce4448bb7deac6108e2c33" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PublicPostApiKey" value="af382555c0ab4394a1d377a600ddcf" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PublicPostApiSecretKey" value="cdeec8a919cd42129091f08f52aaee04" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="GetDeductionArrayParametersJermaine" value="66670/261870008611879" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="GetDeductionArrayParametersPaulYork" value="66670/13314158698557" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="GetDeductionArrayParametersLaticiaWorley" value="66670/192187133834244" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Environment" value="STG" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>