<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="2.16.0.0" targetFramework="net46" />
  <package id="EPPlus" version="4.1.0" targetFramework="net46" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net46" />
  <package id="LINQtoCSV" version="1.5.0.0" targetFramework="net46" />
  <package id="log4net" version="2.0.5" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.Azure.DocumentDB" version="1.9.2" targetFramework="net46" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net46" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net46" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net46" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.1" targetFramework="net46" />
  <package id="morelinq" version="1.4.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net46" />
  <package id="Paycor.Import.Status" version="1.0.6054.26732" targetFramework="net46" />
  <package id="Paycor.Integration.Notifications" version="1.1.6093.26468" targetFramework="net46" />
  <package id="Paycor.Messaging.Contract" version="1.0.0.13" targetFramework="net46" />
  <package id="Paycor.Security" version="1.4.6379.16553" targetFramework="net46" />
  <package id="Swashbuckle.Core" version="5.3.2" targetFramework="net46" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net46" />
  <package id="WindowsAzure.Storage" version="7.1.2" targetFramework="net46" />
</packages>