<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings xdt:Transform="RemoveAttributes(file)">
    <add key="BaseUrl" value="https://secure-qa.paycor.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BaseAzuretUrl" value="http://paycorimporthubserviceqa.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BaseLoggingLoggingApiUrl" value="https://paycorimporthubserviceqa.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PublicKey" value="9fb05611399548159e3be63d0fb38a" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PrivateKey" value="22feadfaaf644eafbbf459979f4d4dde" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PublicPostApiKey" value="91db31e186f94c15b9c130a5a3c1b9" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PublicPostApiSecretKey" value="5131da4a2a40477fbd5528936013e814" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="NotificationCenterPublicKey" value="4a554631e67b49d983ebcbce00fd05c2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="NotificationCenterPrivateKey" value="f6a71ee6c98e4ab286ccee678def35ea" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Environment" value="QA" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="epaycor" connectionString="Data Source=DRQAPRTSQL04.dev.paycor.com;Initial Catalog=epaycor;uid=VSAutomationSB;pwd=e78Nf4ttwGV0v7VU;Application Name=ImportHubTest" providerName="System.Data.SqlClient" />
    <add name="SecurityManagement" connectionString="Data Source=DRQAPRTSQL04.dev.paycor.com;Initial Catalog=SecurityManagement;uid=VSAutomationSB;pwd=e78Nf4ttwGV0v7VU;Application Name=ImportHubTest" providerName="System.Data.SqlClient" />
    <add name="SecurityManagement" connectionString="Data Source=DRQASQL01.dev.paycor.com\QA;Initial Catalog=SecurityManagement;uid=VSAutomationSB;pwd=yFXi2EaR4J3KL81i;Application Name=ImportHubTest" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>