<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="BaseUrl" value="http://devsbqtrweb01.dev.paycor.com" />
    <add key="BaseAzureUrl" value="https://paycorimporthubservicequarterly.azurewebsites.net/" />
    <add key="BaseLoggingApiUrl" value="" />
    <add key="PublicKey" value="8e4dc704bf9e4644b9e896a575d4647d" /> <!--allred-->
    <add key="PrivateKey" value="3190333ab19a4610a98236506d1e6fce" />
    <add key="NotificationCenterPublicKey" value="4a554631e67b49d983ebcbce00fd05c2" />
    <add key="NotificationCenterPrivateKey" value="f6a71ee6c98e4ab286ccee678def35ea" />
    <add key="Environment" value="" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
</startup>
</configuration>
