<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="RemoveAttributes(file)">
    <add key="BaseUrl" value="http://devsbmonweb01.dev.paycor.com/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PublicKey" value="74bd572741304463a12790f2519f3a77" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PrivateKey" value="b77c51bb09784a13b673e1ca6489073d" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PublicPostApiKey" value="91db31e186f94c15b9c130a5a3c1b9" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PublicPostApiSecretKey" value="5131da4a2a40477fbd5528936013e814" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>