<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BaseUrl" value="http://devsbqtrweb01.dev.paycor.com/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BaseAzureUrl" value="https://paycorimporthubservicequarterly.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BaseLoggingApiUrl" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PublicKey" value="8e4dc704bf9e4644b9e896a575d4647d" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PrivateKey" value="3190333ab19a4610a98236506d1e6fce" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PublicPostApiKey" value="91db31e186f94c15b9c130a5a3c1b9" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PublicPostApiSecretKey" value="5131da4a2a40477fbd5528936013e814" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="NotificationCenterPublicKey" value="4a554631e67b49d983ebcbce00fd05c2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="NotificationCenterPrivateKey" value="f6a71ee6c98e4ab286ccee678def35ea" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Environment" value="QTR" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="HttpClient.Timeout" value="10" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

</configuration>