<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="CDNLocation" value="#{secureURL | ToLower}/CDN" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HomeBaseUrl" value="#{secureURL | ToLower}/Home" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="WebApiUrl" value="#{secureURL | ToLower}/importhubservice" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="aspnet:UseLegacyEncryption" value="#{UseLegacyEncryption}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="aspnet:UseLegacyMachineKeyEncryption" value="#{UseLegacyFormsAuthenticationTicketCompatibility}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="aspnet:UseLegacyFormsAuthenticationTicketCompatibility" value="#{UseLegacyMachineKeyEncryption}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="Security" connectionString="Data Source=#{prtsql02_InstanceTCP};Initial Catalog=SecurityManagement;Integrated Security=false;#{ImportHub_Credentials};Application Name=ImportHub" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <machineKey compatibilityMode="#{machineKeyCompatibilityMode}" decryption="#{machineKeyDecryption}" decryptionKey="#{machineKeyDecryptionKey}" validation="#{machineKeyValidation}" validationKey="#{machineKeyValidationKey}" xdt:Transform="Replace" />
    <authentication>
      <forms loginUrl="#{secureURL}/Accounts/Authentication/Signin" domain="#{cookieDomain}" enableCrossAppRedirects="true" xdt:Transform="SetAttributes(loginUrl, domain, enableCrossAppRedirects)" />
    </authentication>
  </system.web>
</configuration>