<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="CDNLocation" value="http://devsbqtrweb01.dev.paycor.com/CDN" />
    <add key="HomeBaseUrl" value="http://devsbqtrweb01.dev.paycor.com:81/Home" />
    <add key="WebApiUrl" value="http://localhost/importhubservice" />
    <add key="FileUploadApiCtrl" value="api/FileUpload" />
    <add key="FileUploadApiCtrl" value="/import/v1/importfiles" />
    <add key="jqueryVersion" value="1.9.1" />
    <add key="aspnet:UseLegacyEncryption" value="true" />
    <add key="aspnet:UseLegacyMachineKeyEncryption" value="true" />
    <add key="aspnet:UseLegacyFormsAuthenticationTicketCompatibility" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="Security" connectionString="Data Source=devsbqtrsql01.dev.paycor.com\prtsql02;Initial Catalog=SecurityManagement;uid=svc_perform-sb;pwd=svc_perform-sb;Application Name=Perform" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="Error" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <machineKey compatibilityMode="Framework20SP1" validationKey="0AA6F4AFBF30365DB4DB21AFD3330E91E942D9223C9C11EEB3652024F40C0A7A82B0BCA869DDB75D1F5A9CA7E4DD44AA447C3884C730F6E3CDFF951380811621" decryptionKey="02D1F482C40A532DD3CF8A6B64FC5AA7F7CA237041343AA4" validation="AES" decryption="AES" />
    <authentication mode="Windows">
      <forms enableCrossAppRedirects="true" loginUrl="http://localhost/Perform/Account/Login" requireSSL="false" slidingExpiration="true" timeout="60" protection="Validation" name="paycorAuth" />
    </authentication>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>