<appSettings>
  <!-- documentdb settings -->
  <add key="DocumentDbConnection" value="AccountEndpoint=https://rvijayakumar.documents.azure.com:443/;AccountKey=rNUGqv9BKlqk0eoIRZQpzldMZPH+d8CgRIU+cWWSaSTogNwH+hUP9AMDOvY++EK5Yq98GY9rYuLX5/bldHIuFw==;" />

  <add key="endpoint" value="https://rvijayakumar.documents.azure.com:443/"/>
  <add key="authkey" value="rNUGqv9BKlqk0eoIRZQpzldMZPH+d8CgRIU+cWWSaSTogNwH+hUP9AMDOvY++EK5Yq98GY9rYuLX5/bldHIuFw=="/>

  <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=rvpcihstorage;AccountKey=fLVkkX0DmcL3hRdtRxJiomt/SKVuYjF7P+YlaLmA67R2f9nw192yPkua9rdx+7Td4Zs43L5TZ/5X7rrA3OenGA=="/>
<add key="TableStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=rvpcihstorage;AccountKey=fLVkkX0DmcL3hRdtRxJiomt/SKVuYjF7P+YlaLmA67R2f9nw192yPkua9rdx+7Td4Zs43L5TZ/5X7rrA3OenGA==" />
  <add key="PaycorServiceBusConnection" value="Endpoint=sb://rvpcihservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=xdbiTlKzl1JCBuVlAxwRV/welLqsWW7ArcRykr8C6XU=" />
  <add key="ServiceBusConnection" value="Endpoint=sb://rvpcihservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=xdbiTlKzl1JCBuVlAxwRV/welLqsWW7ArcRykr8C6XU=" />
<add key="old.ImportHistoryMessage.db" />
  <add key="old.ImportHistoryMessage.coll" />
  <add key="new.ImportHistoryMessage.db" />
  <add key="new.ImportHistoryMessage.coll" />
  <add key="old.ApiMapping.db" />
  <add key="old.ApiMapping.coll" />
  <add key="new.ApiMapping.db" />
  <add key="new.ApiMapping.coll" />
  <add key="old.ApiMappingStatusInfo.db" />
  <add key="old.ApiMappingStatusInfo.coll" />
  <add key="new.ApiMappingStatusInfo.db" />
  <add key="new.ApiMappingStatusInfo.coll" />

</appSettings>