<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net>
    <root>
      <level value="#{Stackify.LogLevel}" xdt:Transform="Replace" />
      <appender-ref ref="ManagedColoredConsoleAppender" xdt:Transform="Remove" xdt:Locator="Match(ref)" />
    </root>
  </log4net>
  <appSettings xdt:Transform="RemoveAttributes(file)">
    <add key="StorageConnection" value="#{tableStorage}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PaycorServiceBusConnection" value="#{PaycorServiceBus}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Stackify.ApiKey" value="#{StackifyApiKey}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Stackify.Environment" value="#{StackifyEnvironment}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Stackify.AppName" value="#{Stackify.AppName}.ImportEventReceiverLogger" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>